<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life insurance</title>
</head>
<body>
    <h1>Life Insurance</h1>
    <p>The major purpose of life insurance is protection — the instant estate to meet survivor needs. Some policies include a savings feature, but there are many other ways to save money and make investments</p>
    <h3>Advantages of Life Insurance</h3>
    <p>Advantages of life insurance as an investment. Whenever you visit a financial advisor for financial planning you can see that most of them suggest you go for life insurance. They encourage you to invest in life insurance so that you and your loved ones are not only protected but also a considerable amount of returns can be obtained from the policy. Many life insurance schemes in India provide decent returns as well as bonuses that no other investment tools offer. Life insurance is considered one of the safest tools for investment as the money invested is returned to you or your family at the time of maturity or as a death benefit.</p>
    <h3>Disadvantages of Life Insurance</h3>
    <p>This is the major disadvantage of life insurance policy. The higher the age the higher would the premium to be paid in the life insurance. This is due to the simple fact that the risk increases with the age so is the premium. So, it is advisable to take life insurance at a very early age to prevent yourself from paying high premiums. There is a chance where the insurance companies have rejected or denied providing policy to old age people having ailments.</p>
    
</body>
</html>